<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Board View</title>
</head>

<style>
    .layout {
        width: 800px;
        margin : 0 auto;
        margin-top: 40px;
    }
    .layout input {
        width: 35%;
        height: 120%;
        box-sizing: border-box;
    }
    .layout textarea {
        width: 100%;
        min-height: 300px;
        margin-top: 10px;
    }
</style>

<body>
    <div class="layout">
        <!-- <p th:text="${board}"></p> -->
    </div>
</body>
</html>